@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Examine
@using Examine.Search
@using Umbraco.Community.Examine.OpenXml

@inject IExamineManager ExamineManager

@{
    Layout = "master.cshtml";
    var searchQuery = Context.Request.Query["q"].ToString();
}

<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Name</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <form action="@Model.Url()" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search documents..." name="q" value="@searchQuery" />
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>

            @if (!string.IsNullOrWhiteSpace(searchQuery))
            {
                if (ExamineManager.TryGetIndex(OpenXmlIndexConstants.OpenXmlIndexName, out var index))
                {
                    var searcher = index.Searcher;
                    var query = searcher.CreateQuery(OpenXmlIndexConstants.OpenXmlCategory)
                        .GroupedOr(new[] { OpenXmlIndexConstants.OpenXmlContentFieldName, "nodeName" }, searchQuery);

                    var results = query.Execute();

                    <p class="mb-4">Found <strong>@results.TotalItemCount</strong> result(s) for "<em>@searchQuery</em>"</p>

                    if (results.TotalItemCount > 0)
                    {
                        foreach (var result in results)
                        {
                            var name = result.Values.ContainsKey("nodeName") ? result.Values["nodeName"] : "Unknown";

                            <div class="post-preview mb-4">
                                <h2 class="post-title">@name</h2>
                                <p class="text-muted">Score: @result.Score.ToString("F2")</p>
                            </div>
                            <hr />
                        }
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        The OpenXml index could not be found. Please ensure the index has been built.
                    </div>
                }
            }
        </div>
    </div>
</div>